# Database
DB_HOST=""
DB_PORT=""
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""

# Redis
REDIS_HOST=""
REDIS_PASSWORD=
REDIS_PORT=
REDIS_DATABASE=

# API Keys (used by auth middleware)
CUSTOMER_API_KEY=""
DRIVER_API_KEY=""
ADMIN_API_KEY=""